
*{
    font-family:  "Inter", sans-serif;
    color: white;
}
body{
    padding: 0%;
    margin: 0%;
    background: linear-gradient( #D74920, #E02110);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
header{
    position: relative;
    display: flex;
    height: 10vmin;
    max-width: 100%;
    justify-content: center;
    align-items: baseline;
    z-index: 2 !important;
}
#header-background{
    width: 90vw;
    height:inherit;
    background: #D74920;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 2rem;
}

#header-background span{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    gap: 7%;
    width: fit-content;
    cursor: pointer;
}

#header-background span a{
    text-decoration: none

}

#header-background img{
    max-height: 90%;
    margin-right: 10%;
}
.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5%;
    margin-bottom: 10px;
}

#search-flex{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 25vw;
}
#search-input{
    position: absolute;
    background-color: #0000002f;
    border: none;
    width: inherit;
    height: 50px;
    border-radius: 40px;
    padding-inline-start: 40px;
}
#search-deco{
    height: inherit;
    width: 40px;
    position:absolute;
    color: white;
    transition: 200ms;
    padding-top: 22px;
}

button {
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}
.comprar-btn{
    background-color: #e06034;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
    margin-top: auto;
}
.comprar-btn:hover {
    background-color: #d45125;
    transform: scale(1.012);
    transition: background-color 0.2s, transform 0.2s;
}


#cart{
    border-radius: 10px;
    visibility: hidden;
    position: absolute;
    background-color: #00000062;
    border: 2px solid #53535335;
    height: fit-content;
    min-height: 10vh;
    width: 30vw;
    max-height: 60vh;
    transform: translateX(-95%);
    flex-direction: column;
    overflow-x: hidden ;
    overflow-y: scroll;
}

#defaulttext{
    display: none;
    visibility: hidden;
    justify-self: center;
    align-self: center;
    color: #000000a8;
}
.cart-game{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-game .game-img{ /*Esto depende de estilos-juegos.css*/
    width: 90px;
    scale: 0.9;
    aspect-ratio: 1/1;
}

footer {
  margin-top: 50px;
  position: relative;
  align-items: center;
  padding: 50px;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 200px;

  background-color: rgba(88, 0, 0, 0.782);
}

footer h3 {
    color: #ffffff;
    font-size: 30px;
    margin-left: 25px;
}

footer li {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 75px;
}


@media (max-width:900px) {
    header{
        height: 10vh;
    }
    #header-background span{
        flex-direction: row;
        font-size: medium;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #header-background img{
        display: none;
    }
    .cart-game .game-img{ /*Esto depende de estilos-juegos.css*/
        display: none;
    }
    .comprar-btn{
        font-size: medium;
        padding: 5px;
    }
    footer {
        position: relative;
        align-items: center;
        padding: 20px;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 75px;
        background-color: rgba(88, 0, 0, 0.782);
    }

    footer h3 {
        color: #ffffff;
        font-size: 12px;
        margin-left: 5px;
    }

    footer li {
        color: #ffffff;
        text-decoration: none;
        font-size: 6px;
        margin-left: 5px;

    }

}