section{
    padding-inline: 5%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cartBig{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cartGamesIncluded{
    width: 80vw;
    padding-inline: 10px;
    padding-top: 10px;
    background-color: #0000002f;
    border: 1px solid #00000042;
    max-height: 50vh;
    min-height: 40vh;
    height: 100%;
    overflow-y: scroll;
}
#defaulttext{
    width: 100%;
    text-align: center;
    display: none;
}
.comprar-btn{
    margin-top: 20px;
}

i{
    height: fit-content;
    z-index: 10;
    
}